* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li{
    display: inline;
}

header nav ul li a {
    margin: 0 50px;
    font-weight: lighter;
    font-size: 25px;
}
/* Headeer ends */

/* Hero starts */
.hero-privacy {
    background-image: url(../images/hero-bg.jpg);
    height: 230px;
    padding: 0 500px 0 500px;
    background-position: bottom;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

.hero-privacy h2 {
    color: #fce138;
    border-color: #fce138;
    border-bottom: 4px solid;
    text-align: center;
    padding: 78px 80px 23px 80px;
    font-size: 42px;
    font-style: italic;
    font-weight: normal;
}

.secondary-content {
    width: 80%;
    margin: auto;
    color: #024e76;
}

.secondary-content p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0 20px 0;
}

.secondary-content h3 {
    font-size: 25px;
    padding-bottom: 15px;
    margin: 20px 0 20px 0;
}

.secondary-content ul {
    margin: 15px 20px 15px 20px;
}

.secondary-content li {
    color: #39a6b2;
    margin: 10px 0 10px 0;
}

footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}